@import '~@fortawesome/fontawesome-svg-core/styles.css';

:root {
  --h1-size: 50px;
  --p-size: 25px;
  --h2-size: 40px;
  --max-width: 85%;
}

* {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
}

html {
  width: 100vw;
  height: 100vh;
}

@media (width <=700px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: space-around;
  }

  .navButton {
    width: 100%;
    height: 100%;
    font-Size: 15pt;
    color: rgb(227, 227, 227);
    border-style: none;
    background: rgb(27, 27, 27);
    cursor: pointer;
  }

  .navButton:hover {
    font-Size: 15pt;
    color: rgb(56, 108, 221);
    height: 100%;
    width: 100%;
    background-color: rgb(42, 50, 63);
    border-style: none;
    cursor: pointer;
    transition-duration: 1s;
  }

  .btns {
    display: flex;
    width: 30vw;
  }

  .logo {
    width: 40vw;

  }

  .imageLogo {
    width: 60%;
  }

  .content {
    width: 100%;
    height: 980px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .imgContent {
    width: 60%;
    animation: float infinite 2s linear;
    opacity: 1;
    animation-delay: 0s;
  }

  @keyframes float {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0px, 4px);
    }

    100% {
      transform: translate(0, 0);
    }
  }

}

@media (width >=700px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: rgb(26, 26, 26);
  }

  h1 {
    font-size: var(--h1-size);
  }

  p {
    font-size: var(--p-size);
  }

  h2 {
    font-size: var(--h2-size);
  }

  .navbar {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.105);
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 10px;
  }

  .navButton {
    width: 100%;
    height: 100%;
    font-Size: 15pt;
    color: rgb(227, 227, 227);
    border-style: none;
    background: rgb(27, 27, 27);
    cursor: pointer;
  }

  .navButton:hover {
    font-Size: 15pt;
    color: rgb(56, 108, 221);
    height: 100%;
    width: 100%;
    background-color: rgb(42, 50, 63);
    border-style: none;
    cursor: pointer;
    transition-duration: 1s;
  }

  .btns {
    display: flex;
    width: 20vw;
  }

  .logo {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageLogo {
    height: 60%;
  }

  .content {
    width: 100%;
    height: 720px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(26, 26, 26, 1)), url('assets/astro-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .imgContent {
    width: 50em;
    animation: float infinite 2s linear;
    opacity: 1;
    animation-delay: 0s;
  }


  @keyframes float {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0px, 4px);
    }

    100% {
      transform: translate(0, 0);
    }
  }

}

.serviceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  gap: 200px;
  background: linear-gradient(rgb(26, 26, 26, 1), rgb(26, 26, 26));
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  color: rgb(255, 255, 255);
}


.cards {
  display: flex;
  height: 500px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.card {
  height:80%;
  width: 15%;
  border-radius: 30px;
  background-color: rgb(28, 28, 28);
  box-shadow: 0 0px 10px 2px rgb(80, 80, 80, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  gap: 60px;
  color: aliceblue;
  padding: 50px;

  transition-duration: 1s;
}

.card:hover {
  height: 81%;
  width: 16%;
  border-radius: 30px;
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: aliceblue;
  /* Distance between the element and the user */
  padding: 50px;
  perspective-origin: top left;
  transform: translateY(-10px);
  transition-duration: 1s;

}

.card:nth-of-type(1):hover .fireIcon {
  color: orange;
  transition-duration: 1s;
}

.card:nth-of-type(2):hover .timeIco {
  color: rgb(0, 136, 255);
  transition-duration: 1s;
}

.card:nth-of-type(3):hover .supportIco {
  color: rgb(149, 0, 255);
  transition-duration: 1s;
}

.aboutSection {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(26, 26, 26);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.sectionL,
.sectionR {
  text-align: center;
  height: 100%;
  margin-top: 7em;
}

.sectionR {
  width: 50%;
}

.sectionL {
  width: 30%;

}

.whatis {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(59, 52, 52);
  background-color: rgb(48, 48, 48);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 100px 0px 100px 0 ;

  background: rgb(236, 236, 236);
}

footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgb(27, 66, 100);
}

.footersection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  height: 30%;
  width: 100%;


}

.btnfooter {
  background-color: rgb(27, 66, 100);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  border-radius: 10px 10px 0 0;
}

.btnfooter:hover {

  height: 100%;
  transform: translateY(-20px);
  transition-duration: 0.2s;
  border-radius: 10px 10px 0 0;

}

#tradingview_widget_wrapper {
  background-color: black;
  width: 100%;
}